@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
.search{
    margin-bottom: 60px;
    text-align: center;
}
.search input{
    width: 70%;
    text-align: center;
    border-color: antiquewhite;
    border-radius: 10px;
}

.search input:hover{
    background-color:rgb(240, 240, 240);
    cursor: pointer;
}

.search input:focus{
    border-color: aliceblue;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper h1 {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.project {
    display: flex;
}

.shop {
    flex: 75%;  
}

.box {
    display: flex;
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-bottom: 150px;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin-bottom: 50px;
}

.box:hover {
    transform: scale(1.02);
}

.box img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.content {
    padding: 20px;
    position: relative;
    width: 100%;
}

.content h3{
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;

}

.more-button {
    width: 20%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #09090a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-button:hover {
    background-color: #588cbf;
}



