<app-header2></app-header2>
<div class="wrapper">
    <h1> Categories </h1>
    <div class="search">
        <input type="text" placeholder="Search..." [(ngModel)]="word">
    </div>
    <div class="project">
        <div class="shop">
            <div class="box" *ngFor="let category of categories |search:word">
                <img src="{{category.image_url}}" alt="item">
                <div class="content">
                    <h3> {{category.name}} </h3>
                    <p> <b> Description: </b>{{category.description}} </p>
                <a [routerLink]="['/categories', category.id, category.name]"><button class="more-button">More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
