<app-header2></app-header2>
<div class="wrapper">
    <h1> Categories </h1>
    <div class="project">
        <div class="shop">
            <div class="box" *ngFor="let category of categories">
                <img src="https://www.taylorguitars.com/sites/default/files/styles/feature_half/public/images/2022-10/Taylor-Academy-10-Academy-12N-Academy-12e.jpg.webp?itok=NIM5Zjm2" alt="item">
                <div class="content">
                    <h3> {{category.name}} </h3>
                    <p> <b> Description: </b>{{category.description}} </p>
                <a [routerLink]="['/categories/', category.id]"><button class="more-button">More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
