<app-header2></app-header2>
<div class="wrapper">
    <h1> Categories </h1>
    <div class="project">
        <div class="shop">
            <div class="box">
                <img src="https://www.taylorguitars.com/sites/default/files/styles/feature_half/public/images/2022-10/Taylor-Academy-10-Academy-12N-Academy-12e.jpg.webp?itok=NIM5Zjm2" alt="item">
                <div class="content">
                    <h3> Guitars </h3>
                    <p> <b>Description: </b> Welcome to the world of guitars, where strings resonate with the soul of music. Whether you're a seasoned guitarist or just beginning your musical journey, our guitars category offers an enchanting array of instruments to suit every style, skill level, and budget.</p>
                <a routerlink=""><button class="more-button">More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
