<app-header2></app-header2>
<div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>Welcome to La Musicalité</h1>
        </div>
        <div class="content">
          <h2>Step into a symphony of sound and explore our exquisite collection of musical instruments.</h2>
          <p><b>La Musicalité</b> stands as a beacon of musical passion and excellence, offering a haven for musicians and music enthusiasts alike. 
            Established with the vision of fostering a vibrant musical community, 
            we pride ourselves on providing an unparalleled shopping experience, expert guidance, and a rich array of musical instruments and accessories.</p>
          <div class="button">
            <a href="https://wsp.kbtu.kz/">Read More</a>
          </div>
        </div>
      </div>
      <div class="image-section">
      <img src="https://www.multivu.com/players/English/8553051-fender-and-h-e-r-launch-signature-stratocaster/image/HERMakesHistory_1600723037801-HR.jpg" alt="">
    </div>
    </div>
  </div>
<app-footer></app-footer>