<app-header2></app-header2>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Abukhanifa" style="width:100%">
        <div class="container">
          <h2>Abukhanifa Kuatuly</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Abukhanifa is an innovative and driven leader with a passion for transforming visions into reality. With a keen eye for strategic planning and a dedication to excellence, Abukhanifa has led our company to unprecedented success. Their leadership style fosters collaboration, creativity, and a commitment to exceeding expectations.</p>
          <p> <b>Email: </b>a_kuatuly&#64;gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Magzhan" style="width:100%">
        <div class="container">
          <h2>Magzhan Kulekesh</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example&#64;example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Aigerim" style="width:100%">
        <div class="container">
          <h2>Aigerim Baibakty</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example&#64;example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>