<app-header2></app-header2>
<div class="row">
    <div class="column">
      <div class="card">
        <img class="photo" src="https://media.discordapp.net/attachments/524159382804627466/1232870784473763941/image.png?ex=662b07e4&is=6629b664&hm=562dd32f07ba71e634993e8a51a95370fc00ffd54eb8f0c0f609352e90036a91&=&format=webp&quality=lossless&width=360&height=350" alt="Abukhanifa" style="width:300px">
        <div class="container">
          <h2>Abukhanifa Kuatuly</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Abukhanifa is an innovative and driven leader with a passion for transforming visions into reality. With a keen eye for strategic planning and a dedication to excellence, Abukhanifa has led our company to unprecedented success. Their leadership style fosters collaboration, creativity, and a commitment to exceeding expectations.</p>
          <p> <b>Email: </b>a_kuatuly&#64;gmail.com</p>
          <p><button class="button"><a routerLink="not-found/">Contact</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img class="photo"  src="https://media.discordapp.net/attachments/524159382804627466/1232872726981644409/image.png?ex=662b09b3&is=6629b833&hm=59249676e9c114afd0866a76a2be65d5d2e8ad2dfb852bd06770a3f1dd8e6f93&=&format=webp&quality=lossless&width=260&height=350" alt="Magzhan" style="width:300px;">
        <div class="container">
          <h2>Magzhan Kulekesh</h2>
          <p class="title">Designer</p>
          <p>banana</p>
          <p><b>Email: </b>m_kulekesh&#64;gmail.com</p>
          <p><button class="button"><a routerLink="not-found/">Contact</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img  class="photo" src="https://media.discordapp.net/attachments/524159382804627466/1232870881852915793/image.png?ex=662b07fb&is=6629b67b&hm=2c5e6c002a18797fe058eab30e3ac24cdee488ffa8716743b9a209dbfb9c05fc&=&format=webp&quality=lossless&width=350&height=350" alt="Aigerim" style="width:300px">
        <div class="container">
          <h2>Aigerim Baibakty</h2>
          <p class="title">Art Director</p>
          <p>Aigerim, the visionary art director, paints narratives that captivate and inspire. With a passion for creativity and a knack for storytelling, she crafts visuals that resonate deeply with audiences. Collaborative and innovative, she thrives in bringing ideas to life across diverse mediums, from branding campaigns to multimedia installations.</p>
          <p><b>Email: </b>a_baibakty&#64;gmail.com</p>
          <p><button class="button"><a routerLink="not-found/">Contact</a></button></p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>