@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
a{
  text-decoration: none;
  color:white;
}
.row{
  width: 100%;
  height:76.9vh;
}
.row .column .card .photo{
  border-radius: 5px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.column {
    width: 25%;
    margin-top: 30px;
    margin-bottom: 149px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 10px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }