<app-header2></app-header2>
<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisible ? 'active' :'' " id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>

                <input type="text" name="name" [(ngModel)]="signUpObj.name" placeholder="Name">
                <input type="email" name="email" [(ngModel)]="signUpObj.email" placeholder="Email">
                <input type="password" name="password"  [(ngModel)]="signUpObj.password" placeholder="Password">
                <button (click)="onRegister()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in" >
            <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
                <h1>Sign In</h1>
                <input type="email" name="email" formControlName="email" placeholder="Username / Email"
                    [ngClass]="{ 'is-invalid' : loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || email_validation_msg != '') }">
                <div class="invalid">{{ email_validation_msg }}</div>

                <input type="password" name="password" formControlName="password" placeholder="Password"
                    [ngClass]="{ 'is-invalid' : loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || password_validation_msg != '') }">
                <div class="invalid">{{ password_validation_msg }}</div>
                
                <a href="#">Forget Your Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisible = false">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="register" (click)="isSignDivVisible = true">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>