<app-header2></app-header2>
<form action="" method="post">
    <div class="imgcontainer">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThIFh7wdQtB1StJgC_wOXliQ_dPgbKRdNq9nhnlT-mrA&s" alt="Avatar" class="avatar">
    </div>
  
    <div class="container" *ngIf = "!logged">
      <label for="uname"><b>Username</b></label>
      <input type="text" [(ngModel)] = "username" name = "usern">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)] = "password" name = "pass">
  
      <button (click)="login()">Login</button>
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn"><a routerLink="">Cancel</a></button>
      <span class="psw">Forgot <a href="https://wsp.kbtu.kz">password?</a></span>
    </div>
  </form>

  <div class="container" *ngIf = "logged">
    <h1></h1>
    <button (click)="logout()">logout</button>
  </div>
  <app-footer></app-footer>




  