
    <div class="navbar">
        <div a routerLink="">
        <img src="https://cdn-icons-png.flaticon.com/512/9830/9830222.png" class="logo">
        <h2> la musicalité </h2>
        </div>
        <ul>
            <li>
                <a routerLink="/about"><img src="https://cdn-icons-png.flaticon.com/512/4210/4210456.png " class="logo6"></a>
                <a routerLink="/about">About</a>
            </li>
            <li>
                <a href="/contacts"><img src="https://cdn-icons-png.flaticon.com/512/3095/3095583.png" class="logo5"></a>
                <a href="/contacts">Contacts</a>
            </li>
            <li>
                <a href="/categories"><img src="https://cdn-icons-png.flaticon.com/512/3502/3502685.png" class="logo4"></a>
                <a href="/categories">Categories</a>
            </li>
            <li>
                <a href="/cart"><img src="https://cdn-icons-png.flaticon.com/512/1059/1059965.png" class="logo3"></a>
                <a href="/cart">Cart</a>
            </li>
            <li>
                <a href="/login"><img src="https://cdn-icons-png.flaticon.com/512/552/552848.png" class="logo2"></a>
                <a routerLink="/login"> Login</a>
            </li>
            
        </ul>
    </div>

