@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:bisque;
}

 h2 {
    text-transform: uppercase;
    position: absolute;
    margin-left: 65px;
    top: 33%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
 }


.logo {
    width: 70px;
    padding: 10px;
    cursor: pointer;
}

.logo2 {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    right: 80%;
    transform: translateY(-50%); 
}

.logo3 {
    width: 55px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    right: 80%;
    transform: translateY(-50%); 

}

.logo4 {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%); /* Center vertically */

}

.logo5 {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%); /* Center vertically */

}

.logo6 {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%); /* Center vertically */

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
    
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/yes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content h1 {
    font-size: 70px;
    margin-top: 200px;
}

content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:hover{
    background-color: rgb(78, 78, 78);
}

span {
    background: rgb(44, 40, 40);
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}


