<div class="banner">
    <div class="navbar">
        <img src="https://cdn-icons-png.flaticon.com/512/9830/9830222.png" class="logo">
        <h2> la musicalité </h2>
        <ul>
            <li>
                <img src="https://cdn-icons-png.flaticon.com/512/4210/4210456.png " class="logo6">
                <a href="#">About</a>
            </li>
            <li>
                <img src="https://cdn-icons-png.flaticon.com/512/3095/3095583.png" class="logo5">
                <a href="#contacts">Contacts</a>
            </li>
            <li>
                <img src="https://cdn-icons-png.flaticon.com/512/3502/3502685.png" class="logo4">
                <a href="#">Categories</a>
            </li>
            <li>
                <img src="https://cdn-icons-png.flaticon.com/512/1059/1059965.png" class="logo3">
                <a href="#">Cart</a>
            </li>
            <li>
                <img src="https://cdn-icons-png.flaticon.com/512/552/552848.png" class="logo2">
                <a href="#">Login</a>
            </li>
            
        </ul>
    </div>
</div>
    <div class="content">
        <h1> BUY YOUR FIRST INSTRUMENT </h1>
        <p> See our product highlights to see the best instruments out there! <br> Press the icon to see</p>
        
        <div>
            <a href="#product"><button type="button"><span></span>Product highlights </button></a>
        </div>
</div>
