<footer class="footer" id="contacts">
    <div class="footer-inner">
      <div><b>English</b> </div>
      <ul>
        <li>
          <a href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" class="insta">
          </a>
          </li>
        <li>
          <a href="https://wsp.kbtu.kz"> 
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077041.png" class="facebook" ></a>
        </li>
        <li>
          <a href="https://wsp.kbtu.kz"><img src="https://cdn-icons-png.flaticon.com/512/14417/14417460.png" class="twitter" > </a>
        </li>
        <li>
          <a href="https://wsp.kbtu.kz"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077046.png" class="youtube" ></a>
        </li>
        <li>
          <a href="https://wsp.kbtu.kz"><img src="https://cdn-icons-png.flaticon.com/512/160/160178.png" class="pinterest" ></a>
        </li>
        <li>
          <a href=""><b>&copy; LA MUSICALITÉ</b></a>
        </li>
      </ul>
    </div>
  </footer>
