.footer {
    font-size: 15px;
    padding: 20px 0;
    background-color: #696764bf;
    color: black;
  }
  
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer div i {
    margin-right: 10px;
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    color: black;
  }
  
  .footer li {
    margin-right: auto;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .footer ul li a {
    color: black;
    text-decoration: none;
  }

  .insta {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    left: 40%;
    
  } 

  .facebook {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    left: 45%;

  }

  .twitter {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    left: 50%;

  }

  .youtube {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    left: 55%;
  }

  .pinterest {
    width: 50px;
    padding: 8px 12px;
    position: absolute;
    left: 60%;
  }


  